<div id='main'>
  <div id='mainbody'>
<p>
  <b>Name:</b>
  <%=h @team.name %>
</p>
<p>
  <b>Members:</b>
  <% for member in @team.members%>
    <ul>
      <li> <%= member.login %> </li>
    </ul>
    <% end %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>

<p>
  <b>Comments:</b>
  <% @team.comments.each do |comment| %>
  <p>
    <%= comment.speaker_name + " says:" %>
    <%= comment.body %>
  </p>
  <% end%>
</p>

<div id="comments">
  <% form_for [@commentable,Comment.new] do |f| %>
  <p>
    <%= f.label :body, 'Comment'%><br />
    <%= f.text_area :body,:rows=>10 %>
  </p>
  <p>
    <%= f.submit 'Say it' %>
  </p>
  <% end %>
</div>
</div>
<div id='sidebar'>
  <%= link_to 'Join',edit_team_path %>
</div>
</div>
