
<p>
  <%=h (@comment.user_id && User.find(@comment.user_id).name) || 'anonymous' %> says:
</p>

<p>
  <b>Title:</b>
  <%=h @comment.title %>
</p>

<p>
  <b>Body:</b>
  <%=h @comment.body %>
</p>

<p>
  <b>Commentable:</b>
  <%=h @comment.commentable_id %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
