<p>
  <b>Name:</b>
  <%=h @game.name %>
</p>

<p>
  <b>Capacity:</b>
  <%=h @game.capacity %>
</p>

<p>
  <b>Creator:</b>
  <%=h @game.creator_id %>
</p>

<p>
  <b>Admin:</b>
  <%=h @game.admin_id %>
</p>

<p>
  <b>Game type:</b>
  <%=h @game.game_type %>
</p>

<p>
  <b>Status:</b>
  <%=h @game.status %>
</p>

<p>
  <b>Start time:</b>
  <%=h @game.start_time %>
</p>

<p>
  <b>End time:</b>
  <%=h @game.end_time %>
</p>

<p>
  <b> Teams:</b>
</p>
<% for team in @game.teams %>
  <p>
    <%= link_to h(team.name),team %>
  </p>
<% end %>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
