<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Teams: <%= controller.action_name %></title>
  <%= stylesheet_link_tag *%w[scaffold standard] %>
</head>
<body>

<div id='navcontainer'>
  <ul id='navlist'>
    <li> <%= t 'header.welcome'%><%= current_user.login if current_user %>
    <li> <%= link_to 'Home', :controller=>:home%> </li>
    <li> <%= link_to  t('team'), :controller=>:teams%></li>
    <li> <%= link_to  t('player'), :controller=>:users%></li>
    <li> <%= link_to 'Game', :controller=>:games%></li>
    <li> <%= link_to 'Profile', :controller=>:users%></li>
  </ul>
</div>
  
<p style="color: green"><%= flash[:notice] %></p>
<div id='content'>
<%= yield  %>
</div>
</body>
</html>
