<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Teams: <%= controller.action_name %></title>
  <%= stylesheet_link_tag *%w[scaffold standard] %>
</head>
<body>

<div id='header'>

  <div id='logo'>
     <%= link_to image_tag("logo.jpg", :size => "60x60", :id => 'logoimage'), :controller=>:home%>
  </div>
  <div id='status'>
      <%= t('header.welcome')+" "%><%= current_user.login.capitalize if current_user %>
      <% if current_user %>
      <%= link_to t('header.logout'), logout_path %>
      <% else %>
      <%= link_to t('header.signup'), signup_path %>
      <%= link_to t('header.login'), login_path %>
      <% end %>
  </div>

  <div id='navcontainer'>

    <ul id='navlist'>
      <li> <%= link_to 'Home', :controller=>:home%> </li>
      <li> <%= link_to  t('team'), :controller=>:teams%></li>
      <li> <%= link_to  t('player'), :controller=>:users%></li>
      <li> <%= link_to 'Game', :controller=>:games%></li>
      <li> <%= link_to 'Profile', :controller=>:users%></li>
    </ul>
  </div>
</div>

<p style="color: green"><%= flash[:notice] %></p>
<div id='content'>
<%= yield  %>
</div>
</body>
</html>
